<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
     <!--<file>/opt/web/spring-mvc-mini/log/activity0_0.log</file>-->
     <file>activity0_0.log</file>
    <append>true</append>
    <encoder>
      <pattern>%d{YYYY/MM/dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!--logger name="net.schmizz.sshj" level="ERROR"/-->

  <root level="INFO">
    <appender-ref ref="FILE" />
  </root>
</configuration>